<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magic.css') }}">
</head>
<body>
    <h1 class="KE_design">Заголовок 1</h1>
    <h1>Заголовок 1</h1>
    <h2>Заголовок 2</h2>
    <h3 class="BigBlue">Заголовок 3</h3>
    <h4>Заголовок 4</h4>
    <h5>Заголовок 5</h5>
    <h6 class="KE_design">Заголовок 6</h6>
    <p>Hello, world!</p>
    <a href="http://ya.ru">У вас есть вопрос?</a>
</body>
</html>