<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechShop</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href='/'>
                <img src="https://static.vecteezy.com/system/resources/thumbnails/006/298/276/small/gear-smart-eps-icon-digital-tech-business-logo-free-vector.jpg" alt="TechShop Logo">
            </a>
            <span>TechShop</span>
        </div>
        <a href="/cabinet" class="cabinet-link">Личный кабинет</a>
        <div class="slideshow">
            <div class="slide" style="background: linear-gradient(to right, red, orange);">
                <p>Акция: Скидка 20% на iPhone!</p>
            </div>
            <div class="slide" style="background: radial-gradient(circle, blue, purple);">
                <p>Акция: Бесплатная доставка на laptops!</p>
            </div>
            <div class="slide" style="background: linear-gradient(to bottom, green, yellow);">
                <p>Акция: Подарок при покупке Pixel!</p>
            </div>
            <div class="slideshow-buttons">
                <a href="#slide1">&#9679;</a>
                <a href="#slide2">&#9679;</a>
                <a href="#slide3">&#9679;</a>
            </div>
        </div>
    </header>
    <nav class="menu">
        <ul>
            <li><a href="?lang=ru">RU</a> | <a href="?lang=en">EN</a></li>
            {% for cat_id, cat in categories.items() %}
            <li>
                <img src="{{ cat.icon }}" alt="{{ cat.name }} icon" class="cat-icon">
                <a href="/category/{{ cat_id }}">{{ cat.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Автор: Владислав Сунгуров 10г</p>
        <div class="sponsors">
            <div class="column">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png" alt="Google">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Amazon_icon.png" alt="Amazon">
                <img src="https://img.icons8.com/color/600/ozon.png" alt="Ozon">
            </div>
            <div class="column">
                <img src="https://images.shoutwiki.com/jojoss/7/7d/Unit_Speedwagon_%28R%29.png" alt="Speedwagon">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Max_logo_2025.png" alt="Max">
                <img src="https://a.espncdn.com/i/teamlogos/nba/500-dark/chi.png" alt="Chicago Bulls">
            </div>
        </div>
        <a href="https://t.me/techshop">Telegram канал</a>
    </footer>
    {% if need_js %}
    <script src="/static/script.js"></script>
    {% endif %}
</body>
</html>