<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<section class="articles">
    <article class="article1">
        <img src="/static/images/article1.jpg" alt="Article 1">
        <div>
            <h2>Почему выбрать TechShop</h2>
            <p>Мы предлагаем лучшие товары по доступным ценам.</p>
        </div>
    </article>
    <article class="article2">
        <span class="badge">Популярное</span>
        <h2>Последние новости</h2>
        <p>Новые поступления смартфонов.</p>
    </article>
    <article class="article3" style="background-image: url('/static/images/texture.jpg');">
        <blockquote>Лучший магазин!</blockquote>
        <ul>
            <li>Широкий ассортимент</li>
            <li>Быстрая доставка</li>
            <li>Гарантия качества</li>
        </ul>
        <button>Читать далее</button>
    </article>
</section>
{% endblock %}